*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 100px;

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    border: none;
    height: 43px;
    width: 76px;
    margin: 9px 11px;
    border-radius: 22px;
    font-size: 25px;
}
.input{
    margin-bottom: 26px;
    height: 10px;
    width: 356px;
    border-radius: 18px;
    padding: 13px;
    font-size: 10px;
}